doctype html
html(class="no-js", lang="ru")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    include ../components/head/head.pug
    include ../components/main/header.pug
    include ../components/main/hero-section.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%
        +header()
        main.main
            +hero-section()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
