mixin footer(data)
    footer.footer
        .container.footer-container
            a(href="#").footer-logo Brit<span>lex</span>
            ul.footer-list
                li.footer-item
                    a(href="#").footer-item-link Terms and Conditions
                li.footer-item
                    a(href="#").footer-item-link <span>•</span> Privacy Policy
                li.footer-item
                    a(href="#").footer-item-link <span>•</span> Cookie Policy
