mixin about-section(data)
    section.about-section
        .container.about-container
            h2.about-title About Us
            .about-content-container
                img(srcset="../../static/img/content/desk/competition-about.png 1x, " +
                "../../static/img/content/desk/competition-about@2x.png 2x" alt="about").about-image
                .about-content
                    p.about-content-text The model offers a framework for discussing
                        |problems related to the user's experience, as
                        |well as possible ways and means of solving
                        |them. Application development begins at
                        |the top level (strategy), where the future
                        |software product is described quite
                        |abstractly from the point of view of the
                        |expectations of both users and the customer.
                    ul.about-content-list
                        li.about-content-item
                            h3.about-content-num 800
                            p.about-content-p Pupils
                        li.about-content-item
                            h3.about-content-num 18
                            p.about-content-p Teachers
                        li.about-content-item
                            h3.about-content-num 6
                            p.about-content-p Foreign languages

