mixin header(data)
    header.header
        .container.header-container
            a(href="#").header-logo Brit<span>lex</span>
            .header-nav-container
                nav.header-nav
                    ul.header-list
                        li.header-list-item
                            a(href="#").header-item-link Home
                        li.header-list-item
                            a(href="#").header-item-link Skills
                        li.header-list-item
                            a(href="#").header-item-link About Us
                        li.header-list-item
                            a(href="#").header-item-link Pricing
                        li.header-list-item
                            a(href="#").header-item-link Contacts
                button.header-btn Let’s Talk
            button.burger
                img(width="34" height="19" src='../../static/img/content/desk/burger-menu.svg' alt='menu' )

