mixin hero-section(data)
    section.hero
        .container.hero-container
            .hero-content-container
                .hero-content
                    h1.hero-content-title Learn<span class="br-desk"><br></span> Any <span class="br-mob"><br></span>Foreign Language
                    p.hero-content-text With our teachers who write a program for
                        |each student, you will be able to make your
                        |first sketch after the first lesson.
                button.hero-btn(type="button") Get started
            img(srcset="../../static/img/content/desk/learning-languages.jpg 1x, ../../static/img/content/desk/learning-languages@2x.jpg 2x").hero-image
