mixin pricing-section(data)
    section.pricing-section
        .container.pricing-container
            h2.pricing-title Pricing
            ul.pricing-list
                li.pricing-item
                    img(srcset="../../static/img/content/desk/online-pricing.png 1x, " +
                    "../../static/img/content/desk/online-pricing@2x.png 2x" alt="pricing").pricing-image
                    .pricing-content-container
                        .pricing-content
                            h3.pricing-content-title Self-study online course
                            p.pricing-text Start learning English online in live classes
                                |with qualified EC teachers and students
                                |from all over the world.
                        button.pricing-btn <span>£5.99</span> per month
                li.pricing-item
                    img(srcset="../../static/img/content/desk/lesson-pricing.png 1x, " +
                    "../../static/img/content/desk/lesson-pricing@2x.png 2x" alt="pricing").pricing-image
                    .pricing-content-container
                        .pricing-content
                            h3.pricing-content-title Live online classes
                            p.pricing-text Interactive group classes with expert
                                |teachers. Free 7-day trial
                        button.pricing-btn <span>£12.99</span> per month
                li.pricing-item
                    img(srcset="../../static/img/content/desk/webinar-pricing.png 1x, " +
                    "../../static/img/content/desk/webinar-pricing@2x.png 2x" alt="pricing").pricing-image
                    .pricing-content-container
                        .pricing-content
                            h3.pricing-content-title Personal Tuition
                            p.pricing-text Online one-to-one English tutoring – enjoy
                                |our first session for only $1
                        button.pricing-btn <span>£20.99</span> per month
