mixin skills-section(data)
    section.skills-section
        .container.skills-container
            h2.skills-title Skills
            ul.skills-list
                li.skills-item
                    img(srcset="../../static/img/content/desk/Shared-goals-bro-1.png 1x, " +
                    "../../static/img/content/desk/Shared-goals-bro-1@2x.png 2x" alt="skill").skills-image
                    .skills-item-content-container
                        .skills-item-content
                            h3.skills-item-content-title Speaking
                            p.skills-item-content-text Improve your English skills and
                                |confidence. Live classes and interactive
                                |lessons online. 20% extra free for
                                |a limited time only <br><br>
                                |Learn English online and improve your <br>
                                |skills through our high-quality courses
                                |and resources – all designed for adult
                                |language learners.
                        button.skills-item-content-btn Learn more
                li.skills-item
                    img(srcset="../../static/img/content/desk/Typewriter-skills.png 1x, " +
                    "../../static/img/content/desk/Typewriter-skills@2x.png 2x" alt="skill").skills-image
                    .skills-item-content-container
                        .skills-item-content
                            h3.skills-item-content-title Writing
                            p.skills-item-content-text One of the most important and extensive
                                |areas of natural science, the science that
                                |studies substances, also their composition
                        button.skills-item-content-btn Learn more
                li.skills-item
                    img(srcset="../../static/img/content/desk/bookshelves-skills.png 1x, " +
                    "../../static/img/content/desk/bookshelves-skills@2x.png 2x" alt="skill").skills-image
                    .skills-item-content-container
                        .skills-item-content
                            h3.skills-item-content-title Reading
                            p.skills-item-content-text perception and response actions
                                |of the user resulting from the use and
                                |or up coming use of the product,
                                |system or service
                        button.skills-item-content-btn Learn more
                li.skills-item
                    img(srcset="../../static/img/content/desk/audience-skills.png 1x, " +
                    "../../static/img/content/desk/audience-skills@2x.png 2x" alt="skill").skills-image
                    .skills-item-content-container
                        .skills-item-content
                            h3.skills-item-content-title Listening
                            p.skills-item-content-text Here you can find activities to practise
                                |your listening skills. Listening will help
                                |you to improve your understanding
                        button.skills-item-content-btn Learn more
